.header{
  position: fixed;
  width: 100%;
  z-index: 9;
  left: 0;
  top: 0;
  background-color: #5174ff;
}
.header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo{
  display: inline-block;
}
.logo a{
  display: inline-block;
}
.logo img{
  height: 33px;
}

.menu_li{
  display: flex;
  gap: 100px;
}
.menu_link{
  color: #fff;
  font-weight: 700;
}