.container{
  padding-top: 80px;
}
.section_title_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 40px;
}
.section_title_wrap .section_title_top{
  font-size: 24px;
  color: #5a74ff;
  position: relative;
}
.section_title_wrap .section_title_top:after{
  display: inline-block;
  content: '';
  position: absolute;
  width: calc(100% + 5px);
  height: 2px;
  background-color: #5a74ff;
  bottom: 2px;
  left: 0;
}
.section_title_wrap h3{
  font-size: 48px;
  font-weight: 100;
  letter-spacing: -.1em;
}
.section_title_wrap h3 span{
  font-weight: 700;
  letter-spacing: -.05em;
}

.visual_section{
  padding: 140px 0;
}
.visual_section .wrapper{
  display: flex;
  align-items: center;
}
.visual_section h2{
  font-size: 60px;
  line-height: 1.4;
  font-weight: 700;
  width: 50%;
}
.visual_section h2 span{
  color: #5a74ff;
}
.visual_img{
  width: 50%;
}

.section_good_design{
  padding: 120px 0;
  background-color: #eff2ff;
}
.section_good_design p{
  line-height: 1.7;
  color: #666;
  margin-bottom: 60px;
  text-align: center;
}

.block_box{
  display: flex;
  justify-content: center;
}
.block_box_wrap {
  width: 900px;
  max-width: 100%;
  padding: 15px 0 30px;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.block_box_layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.block_box_line {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 14px;
}
.block_box_box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 34px;
  height: 86px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  border-radius: 100px;
  position: relative;
  transition: all 0.4s;
}
.block_box_box1,
.block_box_box5,
.block_box_box7,
.block_box_box8 {
  background-color: #2a75ff;
}
.block_box_box3,
.block_box_box6,
.block_box_box9 {
  background-color: #6e2eff;
}
.block_box_box2,
.block_box_box4 {
  background-color: #fff;
  color: #2a75ff;
  border: 1px solid #2a75ff;
  padding: 0;
  width: 86px;
}
.block_box_box1 {
  transform: translate(-32px, 0px) rotate(5deg);
}
.block_box_box2 {
  transform: translate(-43px, 8px);
}
.block_box_box3 {
  transform: translate(-10px, 3px) rotate(3deg);
}
.block_box_box4 {
  transform: translate(-8px, 15px) rotate(-10deg);
}
.block_box_box5 {
  transform: translate(5px) rotate(5deg);
}
.block_box_box6 {
  transform: rotate(-12deg);
}
.block_box_box7 {
  transform: rotate(12deg);
}
.block_box_box8 {
  transform: rotate(-10deg);
}
.block_box_box9 {
  transform: translateY(-2px) rotate(5deg);
}

.section_benefit{
  padding: 140px 0;
  background-color: #fff;
}
.benefit_list{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.benefit_li{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 8px;
  width: calc(50% - 8px);
  height: 180px;
  border-radius: 24px;
  padding-right: 40px;
  background-repeat: no-repeat;
}
.benefit_empathy{
  background-color: #fff4f4;
  background-image: url('../img/icn_empathy.png');
  background-position: left 48px center;
  background-size: 80px;
}
.benefit_idea{
  background-color: #f6f4ff;
  background-image: url('../img/icn_idea.png');
  background-position: left 60px center;
  background-size: 66px; 
}
.benefit_trust{
  background-color: #fdf8f1;
  background-image: url('../img/icn_trust.png');
  background-position: left 50px center;
  background-size: 78px;
}
.benefit_grasp{
  background-color: #f4f8ff;
  background-image: url('../img/icn_grasp.png');
  background-position: left 44px center;
  background-size: 78px;
}
.benefit_li span{
  font-size: 22px;
  font-weight: 600;
}
.benefit_empathy span{
  color: #954d4d;
}
.benefit_idea span{
  color: #6f64a4;
}
.benefit_trust span{
  color: #b18b56;
}
.benefit_grasp span{
  color: #5b7193;
}
.benefit_li p{
  font-size: 22px;
  font-weight: 600;
}

.section_portfollio{
  padding: 130px 0;
  background-color: #23252e;
}
.section_portfollio h3{
  color: #fff;
}
.tab_list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 60px;
}
.tab_list li{
  display: inline-block;
}
.tab_list button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 60px;
  background-color: #3a3d47;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.tab_list button.on{
  background-color: #5a74ff;
}
.port_content{
  margin-bottom: 80px;
}
.port_list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.port_list li{
  width: calc(16.66% - 10px);
}
.port_list li div{
  border-radius: 8px;
  overflow: hidden;
  max-height: 300px;
}
.port_list li p{
  margin-top: 10px;
  color: #fff;
}
.more_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #abb4db;
  font-weight: 700;
  border: 1px solid #abb4db;
  border-radius: 8px;
}

.section_info{
  display: flex;
  flex-direction: column;
  gap: 70px;
  background-color: #fff;
  padding-top: 140px;
  text-align: center;
}
.section_info .wrapper{
  display: flex;
  gap: 80px;
}
.info_left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 340px;
}
.info_left h4{
  font-size: 40px;
  font-weight: 700;
}
.info_left h4 span{
  color: #5a74ff;
}
.info_box{
  width: 100%;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #f4f8ff;
}
.info_list{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.info_list li{
  display: flex;
  align-items: center;
  gap: 12px;
}
.info_list span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 34px;
  border-radius: 8px;
  background-color: #5a74ff;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.info_list p{
  font-size: 18px;
  color: #666;
}
.info_right{
  flex: 1;
}
.carrer_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #5a74ff;
}
.carrer_list li{
  display: flex;
  align-items: center;
  padding: 20px;
  height: 116px;
  border-bottom: 1px solid #dcdcdc;
  text-align: left;
}
.carrer_list h5{
  width: 150px;
  color: #666;
  font-weight: 600;
}
.carrer_list p{
  flex: 1;
  color: #666;
}
.section_info_bg{
  font-size: 240px;
  font-weight: 700;
  color: #eff1fb;
  line-height: 1;
  letter-spacing: 0em;
  transform: translateY(45px);
}

.section_connect{
  background-color: #5a74ff;
  padding: 60px 0;
  position: relative;
  z-index: 4;
}
.section_connect .wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.section_connect img{
  width: 180px;
}
.section_connect h4{
  font-size: 34px;
  color: #fff;
  font-weight: 700;
}
.section_connect span{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 70px;
  border-radius: 70px;
  background-color: #23252e;
  font-size: 22px;
  font-weight: 700;
  color: #5a74ff;
}